<!-- Apiinfo.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 15px;
        }

        p {
            margin-top: 5px;
            color: #666;
        }
    </style>
</head>
<body>
    <h1>Welcome to Our API!</h1>
    <p>Here are some things you can do:</p>
    <ul>
        <li>
            <strong>api/signup</strong>
            <p>This endpoint is for users if he/she don't have an account</p>
        </li>
        <li>
            <strong>api/login</strong>
            <p>This endpoint is for users if he/she want to log in</p>
        </li>
        <li>
            <strong>api/forgetpassword</strong>
            <p>This endpoint is for users if he/she forget password</p>
        </li>
        <li>
            <strong>api/changepassword</strong>
            <p>This endpoint is for users if he/she wants to change to password</p>
        </li>
        <li>
            <strong>api/user</strong>
            <p>This endpoint is for users.</p>
        </li>
        <li>
            <strong>api/products</strong>
            <p>This endpoint is for users to see all products.</p>
        </li>
        <li>
            <strong>api/products:id</strong>
            <p>This endpoint is for users to see information about a single product.</p>
        </li>
        <li>
            <strong>api/products/category</strong>
            <p>This endpoint is for users to see all products to  related to category.</p>
        </li>
        <li>
            <strong>api/orders</strong>
            <p>This endpoint is for users to see all shipped orders.</p>
        </li>
        
    </ul>
</body>
</html>